<div id="<%= dom_id task %>">
  <p class="my-2">
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p class="description-task text-wrap">
  <strong>Description:</strong>
  <%= task.description %>
  </p>
</div>
