@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #afffce;
}

.tasks-title {
  margin-left: 5em;
}

.title-form {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description-form {
  display: block;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #8effbb;
}

.description-task {
  max-width: 10px;
}

.destroy-task {
  margin-top: 10px;
  padding-right: 10px;
}

